In [43]:
import pandas as pd

In [44]:
data = pd.read_csv('chipotle.tsv', sep='\t')

In [45]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [46]:
data['item_price'] = data['item_price'].str.replace('$', '')
data['item_price'] = data['item_price'].astype(float)

In [61]:
data[['quantity', 'item_name', 'item_price']]

      quantity                              item_name  item_price
0            1           Chips and Fresh Tomato Salsa        2.39
1            1                                   Izze        3.39
2            1                       Nantucket Nectar        3.39
3            1  Chips and Tomatillo-Green Chili Salsa        2.39
4            2                           Chicken Bowl       16.98
...        ...                                    ...         ...
4617         1                          Steak Burrito       11.75
4618         1                          Steak Burrito       11.75
4619         1                     Chicken Salad Bowl       11.25
4620         1                     Chicken Salad Bowl        8.75
4621         1                     Chicken Salad Bowl        8.75

[4622 rows x 3 columns]

In [1]:
!lscpu

Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                4
On-line CPU(s) list:   0-3
Thread(s) per core:    2
Core(s) per socket:    2
Socket(s):             1
NUMA node(s):          1
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 69
Model name:            Intel(R) Core(TM) i5-4200U CPU @ 1.60GHz
Stepping:              1
CPU MHz:               1596.230
CPU max MHz:           2600.0000
CPU min MHz:           800.0000
BogoMIPS:              4589.15
Virtualization:        VT-x
L1d cache:             32K
L1i cache:             32K
L2 cache:              256K
L3 cache:              3072K
NUMA node0 CPU(s):     0-3
Flags:                 fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts acpi mmx fxsr sse sse2 ss ht tm pbe syscall nx pdpe1gb rdtscp lm constant_tsc arch_perfmon pebs bts rep_good nopl xtopology nonstop_tsc cpuid aperfmperf pni pclmulqdq dtes64 monitor ds_cpl vmx est tm2 ssse3 sdbg fma cx16 xtpr pdcm pcid sse4_1 sse4_2 movbe popcnt tsc_deadline_timer aes xsave avx f16c rdrand lahf_lm abm cpuid_fault epb invpcid_single pti ssbd ibrs ibpb stibp tpr_shadow vnmi flexpriority ept vpid fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt dtherm ida arat pln pts md_clear flush_l1d

In [2]:
!free -h -t

              total        used        free      shared  buff/cache   available
Mem:           5.7G        1.8G        2.2G        169M        1.7G        3.4G
Swap:          5.9G        5.8M        5.9G
Total:          11G        1.8G        8.1G